.container{
	display: flex;
	margin: auto;
	width: 1000px;
	height: 100vh;
	flex-direction: column;
}

.cajas{
	background: yellow;
	height: 300px;
	color: #fff;
	margin: 5px;
	
}

.container .cajas:first-child{
	background: red;
	flex-shrink: 1
}

.container .cajas:nth-child(2){
	background: blue;
}	

.container .cajas:nth-child(3){
	background: green;
	
}

.container .cajas:nth-child(5){
	background: #876;
	
}